body {
    background: #f7f7f7;
    margin: 20px;
}

#ativar {
    display: block;
    margin: 20px auto;
}

#modal {
    padding: 30px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    opacity: 0;
    transform: translateX(-20px);
}

#modal h1 {
    font-family: sans-serif;
    margin: 0px 0px 20px;
}

#modal label {
    display: block;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
}

#modal input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: .5rem;
    font-size: 1rem;
    background: #f7f7f7;
}

#modal button {
    margin-top: 20px;
    display: block;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .6rem 2rem;
    border: none;
    background: #ffb801;
    border-radius: 4px;
    color: #402d00;
}

#modal.animar {
    animation-name: slide;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#load {
    width: 20px;
    height: 20px;
    border: 10px solid;
    border-radius: 50%;
    border-top-color: transparent;
    margin: 0 auto;
    color: #ffb801;
    animation: load .7s linear infinite;
}

@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

#bola {
    width: 50px;
    height: 50px;
    background-color: #ffb801;
    border-radius: 50%;
    margin: 40px auto;
    animation: bola 1s ease infinite;
}

@keyframes bola {
    0% {
        width: 1px;
    }

    10% {
        width: 50px;
    }

    20% {
        width: 1px;
    }

    40% {
        width: 50px;
    }

    60% {
        width: 1px;
    }

    80% {
        width: 50px;
    }

    90% {
        width: 1px;
    }

    100% {
        width: 50px;
    }
}

#circulo {
    width: 40px;
    height: 40px;
    margin: 40px auto;
    border-radius: 50%;
    border: 8px solid #ffb801;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: circulo 1s linear infinite;
}

@keyframes circulo {
    to {
        transform: rotate(360deg);
    }
}

.retangulo {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0 auto;
}

.retangulo div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background-color: #ffb801;
    animation: retangulo 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

#retangulo1 {
    left: 8px;
    animation-delay: -0.24s;
}

#retangulo2 {
    left: 32px;
    animation-delay: -0.12s;
}

#retangulo3 {
    left: 56px;
    animation-delay: 0s;
}


@keyframes retangulo {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}